<h1 class="example-header">Dynamic Tree</h1>

<div class="sample-tree col-xs-5">
    {{ember-jstree
        actionReceiver=jstreeActionReceiver
        selectedNodes=jstreeSelectedNodes
        themes=themes
        data=data
        plugins=plugins
        contextMenuReportClicked=(action "contextMenuReportClicked")
        eventDidBecomeReady=(action "handleTreeDidBecomeReady")
        eventDidMoveNode=(action "handleJstreeEventDidMoveNode")
    }}
</div>

<div class="info col-xs-7">
    <div class="status">
        <h2 style="margin-top:0px">Tree Status</h2>
        <p class="tree-status {{if treeReady "tree-ready" "tree-not-ready"}}">
            Tree Ready?
            <strong>
                {{#if treeReady}}
                    Yes
                {{else}}
                    No
                {{/if}}
            </strong>
        </p>
    </div>

    <hr />

    <div class="selected">
        <h2>Selected Items</h2>
        {{#if sortedSelectedNodes}}
            <ul>
            {{#each sortedSelectedNodes as |node|}}
                <li><strong>{{node.text}}</strong></li>
            {{/each}}
            </ul>
        {{/if}}
    </div>

    <hr />

    <div class="actions">
        <h2>Actions</h2>
        <button class="btn btn-default" {{action "redraw"}}>Redraw</button>
        <br><br>
        <button class="btn btn-default" {{action "destroy"}}>Destroy</button>
    </div>

</div>
