<h1 class="example-header">Static Tree</h1>

<div class="sample-tree col-xs-3 col-sm-5">
    {{ember-jstree
        actionReceiver=jstreeActionReceiver
        selectedNodes=jstreeSelectedNodes

        data=data
        plugins=plugins
        themes=themes

        checkboxOptions=checkboxOptions
        contextmenuOptions=contextmenuOptions
        contextMenuReportClicked=(action "contextMenuReportClicked")
        searchOptions=searchOptions
        stateOptions=stateOptions
        typesOptions=typesOptions
        searchTerm=searchTerm

        eventDidBecomeReady=(action "handleTreeDidBecomeReady")

        actionGetNode=(action "handleGetNode")
    }}
</div>

<div class="info col-xs-9 col-sm-7">
    <div class="status">
        <h2 style="margin-top:0px">Tree Status</h2>
        <p class="tree-status {{if treeReady "tree-ready" "tree-not-ready"}}">
            Tree Ready?
            <strong>
                {{#if treeReady}}
                    Yes
                {{else}}
                    No
                {{/if}}
            </strong>
        </p>
        <p>Last Context Item Clicked: <strong>{{lastItemClicked}}</strong></p>
    </div>

    <hr />

    <div class="selected">
        <h2>Selected Items</h2>
        {{#if sortedSelectedNodes}}
            <ul>
            {{#each sortedSelectedNodes as |node|}}
                <li><strong>{{node.text}}</strong></li>
            {{/each}}
            </ul>
        {{/if}}
    </div>

    <hr />

    <div class="actions ember-test-actions">
        <h2>Actions</h2>
        <button {{action "getNode" "rn2"}} class="ember-test-getnode-button btn btn-default">Get "Opened node"</button>
        <br><br>
        <button class="btn btn-default" {{action "redraw"}}>Redraw</button>
        <br><br>
        <button {{action "destroy"}} class="ember-test-destroy-button btn btn-default">Destroy</button>
        <br><br>
        <button class="btn btn-default" {{action "addChildByText" "Opened node (has tooltip)"}}>Add child to "Opened node"</button>
    </div>

    <hr />

    <div class="search">
      <h2>Search</h2>
      {{input type="text" placeholder="Search" class="search-input form-control" value=searchTerm}}
    </div>

    <hr />

    <div class="buffer">
        <h2>Buffer Console</h2>
        <pre class="ember-test-buffer">{{jsonifiedBuffer}}</pre>
    </div>

</div>
